@font-face {
    font-family: Vazir-medium;
    src: url(../font/vazir-font-v16.1.0/Vazir-Medium.eot) format("eot") ,
         url(../font/vazir-font-v16.1.0/Vazir-Medium.ttf) format("ttf"),
         url(../font/vazir-font-v16.1.0/Vazir-Medium.woff) format("woff"),
         url(../font/vazir-font-v16.1.0/Vazir-Medium.woff2) format("woff2");
         font-weight: 700;
         font-style: normal;
}
* , body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Vazir-medium ;
}
a{
    text-decoration: none;
}
ul,li,ol{
    margin: 0;
    padding: 0;
    list-style: none;
}
.bg-top-nav{
    background-color: #232f3e;
}
.logo-img{
    width: 100px;
}
.login-icon{
    margin-right: 10px;
}
.basket{
    
    vertical-align: -2px;
    color: white;
    font-size: 15px
}
.basket::hover{
    background-color: white ;
    border-radius: 50%;
}
.search-dropdown{
    border-radius: 0 ;
}
.custom-a::after{
    vertical-align: 1px;
}
.custom-btn{

    border-radius:0 20px 20px 0 !important ;
}
.custom-btn::after
{
    margin-right: 5px;
    vertical-align: -1px;
}
.custom-btn1{
    border-radius: 20px 0 0 20px !important;
}
.custom-div{
    width: 360px !important;
}
.custom-img{
    width: 70px;
}
.basket-icons{
    width: 30px;
    height: 30px;
}
.custom-div1{
    width: 30px;
}
.custom-ul{
    display: flex; /* تبدیل به Flex Container */
    justify-content: space-around; /* یا space-between یا هر خاصیت دیگری که مایلید */
    list-style: none; /* حذف نقاط فهرست */
    padding: 0; /* حذف فاصله داخلی */
    margin: 0; /* حذف فاصله خارجی */
}
.custom-li{
    margin-right: 10px;
    margin-left: 15px;
}
.custom-close{
    margin-left: 3px;
    width: 5px;
}
.custom-alert{
    transform: translate(-94%, -19%) !important;
    height: 15px !important;
    border-radius: 50%;
}
.nav-helper{
    position: relative;
}
.mega-menu-li{
    position: unset !important;
}
.mega-menu-ul{
    width: 100%;
}
.mega-img{
    width: 20%;
    left: 0;
    bottom: 0;

}
.mega-ul li a h4:hover{
    color: red;
}
.mega-ul a li:hover{
    margin-right: 20px;
}
.mega-ul a li ,.mega-ul li a h4{
    transition: .5s ease;
}
@media screen and (max-width:991px){
    .login-icon{
        margin-right: 0;
    }
    .custom-login{
        justify-content: start !important;
    }
    .basket-wrapper{
        display: flex;
        justify-content: end;
    }
    .nav-wrapper{
        display: flex;
        justify-content: start;
        position: relative;
    }
    .nav-helper{
        position: unset;
    }
    .custom-div2{
        z-index: 3;
        top: 50px;
        background-color: #232f3e;
        position: absolute;
        width: 200px;
        padding-right: 15px;
    }
    .mega-ul li a h4 , .custom-li2{
        margin: 0 !important;
    } 
    .custom-ul2{
        top: 9px !important;
    }
}
.nav-wrapper{
    margin-right: 20px;
}
/* Main */
.slider-wrapper{
    height: 500px;
}
.shipping div i{
    margin-top: auto;
    font-size: 30px;
}
/* @media screen and (max-width:1200px) {
    .shipping div i {
        font-size: 25px;
    }
    .shipping div p{
        font-size: 12px;
    }
} */
@media screen and (max-width:769px) {
    .shipping div i {
        font-size: 25px;
        margin-left: 5px !important;
    }
    .shipping div p{
        font-size: 12px;
    }
}
@media screen and (max-width:576px) {
    .shipping div i {
        font-size: 15px;
        margin-left: 5px !important;
    }
    .shipping div p{
        font-size: 8px;
    }

}
@media screen and (max-width:992px) {
    .carousel-indicators{
        bottom: -21px;
    }
}
@media (min-width: 768px) {
    .watch-img {
        width: 20.3% !important;
    }
    .clothes-img{
        width: 54% !important;
    }
    .iphone-img{
        width: 22.8% !important;
    }
}

@media (max-width: 767px) {
    .watch-img {
        width: 46.2%;
        margin-right: 1.8%;
    }
    .iphone-img{
        width: 52%;
    }
    .clothes-img{
        margin-top: 1.8%;
    }
}

.cat-item{
    transition: .5s ease;
    background-color: rgb(225, 225, 225);
}
.fs-12{
    font-size: 12px;
}
.fs-14{
    font-size: 14px;
}
.laptop-img{
    width: 86%;
}
.makeup-img{
    width: 98%;
}
.custom-list-group{
    flex-direction: row;
}
.offer-wrapper{
    background-color: #EF3B50;
}
.offer-card-text{
    width: 60%;
}
.card-wrapper{
    max-width: 300px;
}
.offer-persent{
    background-color: #d32f2f;
}
.custom-list-group-item-action{
    color: rgb(182, 181, 181);
}
.custom-list-group-item-action:hover, .custom-list-group-item-action:focus{
    z-index: 1;
    color: black;
    text-decoration: none;
    background-color: transparent;
}
.custom-list-group-item {
    position: relative;
    display: block;
    padding: 0.5rem 1rem;
    text-decoration: none;
    background-color: #fff;
    transition: .7s ease;
}
.custom-list-group-item::hover{
    transform: scale(1.5);
}
.custom-list-group-item-action.active{
    color: black;
    transform: scale(1.2);
}
.custum-list-group-item-action:hover , .custom-list-group-item::hover,.custom-list-group-item::focus
.custum-llist-group-item-action:focus{
    transform: scale(1.2);
}
.list-group a:hover{
    transform: scale(1.2);
}
.list-group a:focus{
    transform: scale(1.2);
}
@media screen and (max-width:1200px) {
    .offer-img-banner{
        max-width: 75%;
        margin: 0 auto;
    }
}
@media screen and (min-width:1200px) and (max-width:1400px) {
    .card-text{
        font-size: 14px !important;
    }
    .card-wrapper div span , .card-wrapper div s{
        font-size: 14px;
    }
    .offer-persent{
        font-size: 10px !important;
    }
    .card-wrapper button{
        font-size: 13px;
    }
}
@media screen and (max-width:768px) {
    .card-text{
        font-size: 11px !important;
    }
    .card-wrapper div span , .card-wrapper div s{
        font-size: 12px;
    }
    .offer-persent{
        font-size: 9px !important;
    }
    .card-wrapper button{
        font-size: 10px;
    }
}
.animated-nav-item{
    overflow: hidden;
    height: 29px;
    transition: .5s;
}
.first-animated-a,.second-animated-a{
    transition: .3s ;
}
.animated-nav-item:hover .first-animated-a {
    transform: translateY(-32px);
}
.animated-nav-item:hover .second-animated-a{
    transform: translateY(-39px);
    color: white !important;
}
.slider-content{
     max-width: inherit;
     max-height: inherit;
    overflow: hidden;
}
.slider-price{
    padding-bottom: 0 !important;
}
.slider-content-wrapper:hover .slider-content{
    filter: blur(3px);

}
.slider-content 
{
    transition: .5s ease;
}
.slider-btn{
   display: none !important;
}
.slider-content-wrapper:hover .slider-btn{
     display: block !important;
    /* justify-content: center;
    align-items: center; */ 
    position: relative;
    top: 0px;
    left: 0;

}
.slider-content-wrapper::after{
    position: absolute;
    border-radius: 5px;
}

.slider-content:hover {
    box-shadow:0 0 7px 2px #b1b1b1;
}
.slider-send-icon{
    color: #1028FF;
    font-size: 13px;
}
.slider-send-text{
    color: #626684;
    font-size: 11px ;
}
.owl-nav{
    display: flex !important;
    position: absolute;
    top: 160px;
    width: 100%;
    justify-content: space-between;
}

 /*start slider custom */
.custom-slider-headtext{
    font-size: 27px;
    top: 20px;
    right: 12px;
    position: relative;
    display: inline;
    overflow: hidden;
    border-bottom: 3px solid #EF3B50;
}
.prev{
    cursor: pointer;
    z-index: 10;
    top: 186px;
    right: -34px;
}
.next{
    cursor: pointer;
    z-index:10;
    top: 186px;
    right: 34px;
}
.prev1{
    cursor: pointer;
    z-index: 10;
    top: 186px;
    right: -34px;
}
.next1{
    cursor: pointer;
    z-index:10;
    top: 186px;
    right: 34px;
}

.slick-dots li button:before
{
    font-size: 30px !important;
    line-height: 20px;
}

 /* end slider custom */

.no-discount{
    padding-bottom: 34px !important;
}

.truncate {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
}
@media screen and (max-width: 1200px) {
    .odd-p{
        line-height: 1.5 !important;
    }
}
@media screen and (max-width: 768px) {
    .card-body div span , .card-body div s{
        font-size: 11px;
    }
}
 
/* footer */
.fs-12{
    font-size: 12px;
}
footer{
    background-color: #2C3F46;
}
.informations a , .helpful-link a{
    color: #fff;
    font-size: 14px;

}
.informations , .helpful-link {
    margin-top: 5%;
}
.social-footer-container svg{
    width: 50px;
    height: 50px;
    margin: 8px 15px;
}
.social-footer-container i {
    font-size: 50px;
    margin: 8px 15px;
    color: white;
}
.informations a p ,.helpful-link a p {
    margin-bottom: 5px;
}

 @media screen and (max-width:1200px) {
    .informations h4 , .helpful-link h4 ,.email-footer-container h5 ,.about-container h4 , .contant-container h5{
        font-size: 20px;
    }
    .informations p , .helpful-link p ,.email-footer-containerp p ,.about-container p , .contant-container span , .copyright p , .email-footer-container div button{
        font-size: 12px;
    }
    input::placeholder{
        font-size: 12px;
    }
    .social-footer-container i {
        font-size: 40px;
    }
    .social-footer-container svg{
        width: 40px;
        height: 40px;
    }
    .informations ,  .helpful-link {
        margin-top: 6%;
    }

 }
 @media screen and (max-width:992px) {
    .informations ,  .helpful-link {
        margin-top: 9%;
    }

 }
 @media screen and (max-width:768px) {
    .informations h4 , .helpful-link h4 ,.email-footer-container h5 ,.about-container h4 , .contant-container h5{
        font-size: 18px;
    }
    .informations p , .helpful-link p ,.email-footer-containerp p ,.about-container p , .contant-container span ,.copyright p{
        font-size: 11px;
    }
    input::placeholder{
        font-size: 12px;
    }
    .informations ,  .helpful-link {
        margin-top: 11%;
    }
    .social-footer-container i {
        font-size: 30px;
    }
    .social-footer-container svg{
        width: 30px;
        height: 30px;
    }

 }
 @media screen and (max-width:576px){
    .helpful-link h4{
        font-size: 15px;
    }
 }